<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="mysql.properties" />
	<typeAliases>
		<typeAlias type="app.dto.Cust" alias="cust" />
		<typeAlias type="app.dto.Member" alias="member" />
		<typeAlias type="app.dto.Product" alias="product" />
		<typeAlias type="app.dto.Cart" alias="cart" />
		<typeAlias type="app.dto.Order" alias="order" />
		<typeAlias type="app.dto.OrderDetail" alias="orderdetail" />
		<typeAlias type="app.dto.Review" alias="review" />
	</typeAliases>
	<environments default="">
		<environment id="">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="custmapper.xml" />
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/CartMapper.xml" />
		<mapper resource="mapper/ProductMapper.xml" />
		<mapper resource="mapper/OrderMapper.xml" />
		<mapper resource="mapper/OrderDetailMapper.xml" />
		<mapper resource="mapper/ReviewMapper.xml" />
		<mapper resource="searchbarmapper.xml" />
	</mappers>
</configuration>







