<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="mysql.properties" />
	<typeAliases>
		<typeAlias type="app.dto.entity.Cust" alias="cust" />
		<typeAlias type="app.dto.entity.Category" alias="category" />
		<typeAlias type="app.dto.entity.Cart" alias="cart" />
		<typeAlias type="app.dto.response.CartProduct" alias="cartproduct" />
		<typeAlias type="app.dto.entity.Member" alias="member" />
		<typeAlias type="app.dto.entity.Order" alias="order" />
		<typeAlias type="app.dto.entity.OrderDetail" alias="orderdetail" />
		<typeAlias type="app.dto.entity.Product" alias="product" />
		<typeAlias type="app.dto.entity.Review" alias="review" />
	</typeAliases>
	<typeHandlers>
		<typeHandler javaType="boolean" jdbcType="TINYINT" handler="org.apache.ibatis.type.BooleanTypeHandler" />
	</typeHandlers>
	<environments default="">
		<environment id="">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>

		<mapper resource="custmapper.xml" />
		<mapper resource="mapper/CartMapper.xml" />
		<mapper resource="mapper/CategoryMapper.xml" />
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/OrderDetailMapper.xml" />
		<mapper resource="mapper/OrderMapper.xml" />
		<!-- <mapper resource="mapper/ProductDetailMapper.xml" /> -->
		<mapper resource="mapper/ProductMapper.xml" />
		<mapper resource="mapper/ReviewMapper.xml" />
		<mapper resource="mapper/SearchbarMapper.xml" />

	</mappers>
</configuration>