<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">
	<resultMap type="cart" id="cartMap">
		<result property="sequence" column="sequence" />
		<result property="productSequence" column="product_sequence" />
		<result property="memberSequence" column="member_sequence" />
		<result property="count" column="count" />
		<result property="updatedAt" column="updated_at" />
		<result property="isDeleted" column="is_deleted" />
	</resultMap>

	<!-- 장바구니에 책 담기 -->
	<insert id="addToCart" parameterType="cart">
		INSERT INTO `CART` (count, memberSequence, productSequence) values(${count}, ${memberSequence}, ${productSequence}); 
	</insert>

	<!-- 내 장바구니 전체 조회 -->
	<select id="selectCartAll" parameterType="long" resultMap="cartMap">
		SELECT * FROM `cart` WHERE member_sequence = ${memberSequence};
	</select>
	<!-- 장바구니 개별 상세 조회 -->

	<!-- 장바구니 상품 수량 변경 -->

	<!-- 장바구니에서 구매 -->

	<!-- 장바구니 상품 상태 변경 -->
	<!-- 장바구니에서 주문(판매량 & 재고 변경) -->
	<!-- 주문 상세 추가 -->

	<!-- 장바구니 삭제 -->
	<!-- 장바구니 상품 상태 변경 -->
</mapper>