<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">

	<resultMap id="categoryResultMap"
		type="app.dto.mapper.CategoryMapper">
		<result property="mainCategorySequence"
			column="main_category_sequence" />
		<result property="mainCategoryName" column="main_category_name" />
		<result property="subCategorySequence"
			column="sub_category_sequence" />
		<result property="subCategoryName" column="sub_category_name" />
	</resultMap>

	<resultMap type="product" id="productMap">
		<result property="sequence" column="sequence" />
		<result property="productImgurl" column="product_imgurl" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="content" column="content" />
		<result property="stock" column="stock" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="pointAccumulationRate"
			column="point_accumulation_rate" />
		<result property="discountRate" column="discount_rate" />
		<result property="salesCount" column="sales_count" />
		<result property="state" column="state" />

		<result property="authorSequence" column="author_sequence" />
		<result property="publisherSequence"
			column="publisher_sequence" />
		<result property="categorySequence" column="category_sequence" />
	</resultMap>

	<resultMap type="app.dto.entity.Category" id="categoryMap">
		<result property="sequence" column="sequence" />
		<result property="name" column="name" />
		<result property="level" column="level" />
		<result property="parentCategory" column="parent_category" />
	</resultMap>

	<resultMap id="categoryProductWithReviewResultMap"
		type="app.dto.mapper.CategoryProductWithReview">
		<id property="sequence" column="sequence" />
		<result property="productImgurl" column="product_imgurl" />
		<result property="productDetailImgurl"
			column="productDetailImgurl" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="content" column="content" />
		<result property="stock" column="stock" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="pointAccumulationRate"
			column="pointAccumulationRate" />
		<result property="discountRate" column="discount_rate" />
		<result property="salesCount" column="sales_count" />
		<result property="state" column="state" />
		<result property="authorSequence" column="authorSequence" />
		<result property="publisherSequence" column="publisher_sequence" />
		<result property="categorySequence" column="category_sequence" />
		<result property="review_count" column="review_count" />
		<result property="rating_avg" column="rating_avg" />
		<result property="popularity" column="popularity" />
	</resultMap>


	<select id="findCategorybyProductSequence"
		resultMap="categoryResultMap" parameterType="app.dto.entity.Product">
		SELECT
		m.sequence AS
		main_category_sequence,
		m.name AS main_category_name,
		s.sequence AS
		sub_category_sequence,
		s.name AS sub_category_name
		FROM
		product p
		JOIN
		category s ON p.category_sequence = s.sequence
		JOIN
		category m ON
		s.parent_category = M.sequence
		WHERE
		P.sequence = #{sequence}
	</select>

	<select id="selectComputerCategory" resultMap="productMap">
		SELECT p.* FROM
		product p
		JOIN category c ON p.category_sequence = c.sequence
		WHERE
		c.parent_category = 1;
	</select>

	<select id="selectSmallCategory" resultMap="productMap">
		SELECT p.* FROM
		product p
		JOIN category c ON p.category_sequence = c.sequence
		WHERE
		c.sequence = #{categoryCode};
	</select>

	<select id="selectBigCategory" resultMap="productMap">
		SELECT p.* FROM product
		p
		JOIN category c ON p.category_sequence = c.sequence
		WHERE
		c.parent_category = #{categoryCode};
	</select>

	<select id="selectCategory"
		resultMap="categoryProductWithReviewResultMap">
		SELECT p.*, COUNT(r.product_sequence) as review_count,
		COALESCE(AVG(r.rating), 0) as rating_avg
		FROM product p
		LEFT JOIN review r ON p.sequence = r.product_sequence
		JOIN category c ON p.category_sequence = c.sequence
		WHERE c.parent_category = #{categoryCode}
		GROUP BY p.sequence;

	</select>

	<select id="selectCategoryBySequence"
		parameterType="app.dto.entity.Category" resultMap="categoryMap">
		SELECT * FROM
		category
		WHERE sequence = #{sequence};
	</select>

	<select id="selectSubCategorySequences" parameterType="int"
		resultType="int">
		SELECT sequence
		FROM category
		WHERE parent_category =
		#{parentCategoryId}
	</select>


</mapper>