<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<resultMap type="member" id="memberMap">
		<result property="email" column="email" />
		<result property="hashedPwd" column="hashed_pwd" />
		<result property="name" column="name" />
		<result property="zipcode" column="zipcode" />
		<result property="streetAddress" column="street_address" />
		<result property="addressDetail" column="address_detail" />
		<result property="accumulatedPoint" column="accumulated_point" />
		<result property="createdAt" column="created_at" />
		<result property="lastLoginAt" column="last_login_at" />
		<result property="isDormant" column="is_dormant" />
		<result property="isAdmin" column="is_admin" />
		<result property="memberPhone" column="member_phone" />
	</resultMap>

	<select id="select" parameterType="member" resultMap="memberMap">
		SELECT * FROM member WHERE email=#{email}
	</select>
	
	<update id="update" parameterType="member">
		UPDATE member SET last_login_at=now() WHERE sequence=#{sequence}
	</update>
	
	
	
	
</mapper>

