<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderdetail">
	<resultMap type="orderdetail" id="orderDetailMap">
		<result property="count" column="count" />
		<result property="productPrice" column="product_price" />
		<result property="productPoint" column="product_point" />
		<result property="state" column="state" />
		<result property="orderSequence" column="order_sequence" />
		<result property="productSequence" column="product_sequence" />
	</resultMap>

	<!-- 상품 구매 -->
	<insert id="insert" parameterType="orderDetailMap">
		INSERT INTO ORDERDETAIL
		(COUNT, PRODUCT_PRICE, PRODUCT_POINT, ORDERSEQUENCE, PRODUCTSEQUENCE)
		VALUES (#{count}, #{productPrice}, #{productPoint}, #{orderSequence},
		#{productSequence})";
	</insert>

	<!-- orderDetail 상태 변경 (원하는 state와 order detail sequence 넘겨주면 됨) -->
	<update id="updateOrderDetailState"
		parameterType="orderDetailMap">
		UPDATE ORDERDETAIL
		SET state = #{state} WHERE sequence =
		#{sequence}
	</update>

	<!-- sequence에 해당하는 장바구니 내역 하나 저장 -->
	<select id="selectOne" parameterType="OrderDetailMap"
		resultType="OrderDetailMap">
		SELECT * FROM ORDERDETAIL WHERE sequence = #{sequence}
	</select>


	<!-- orderSequence 번호에 해당하는 orderDetail 전체 조회 -->
	<select id="selectAllOrderDetailByOrderSequence"
		parameterType="orderDetailMap" resultMap="orderDetailMap">
		SELECT * FROM ORDERDETAIL
		WHERE order_sequence = ${orderSequence}
	</select>

</mapper>