<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<resultMap type="order" id="orderMap">
		<result property="zipcode" column="zipcode" />
		<result property="createdAt" column="created_at" />
		<result property="vendorMessage" column="vendor_message" />
		<result property="streetAddress" column="street_address" />
		<result property="addressDetail" column="address_detail" />
		<result property="receiverName" column="receiver_name" />
		<result property="orderPhone" column="order_phone" />
		<result property="memberSequence" column="member_sequence" />
		<result property="receiverEmail" column="receiver_email" />
		<result property="orderDetail" column="order_detail" />
	</resultMap>

	<!-- id에 해당하는 주문 내역만 조회 -->
	<select id="select" parameterType="order" resultMap="orderMap">
		SELECT *
		FROM `order` WHERE sequence=#{sequence} 
	</select>

	<!-- 상품 구매 -->
	<insert id="insert" parameterType="order">
		INSERT INTO `order`
		(zipcode, receiver_name , street_address, address_detail, order_phone, member_sequence, vendor_message, receiver_email) 
		VALUES (#{zipcode}, #{receiverName}, #{streetAddress}, #{addressDetail}, #{orderPhone}, #{memberSequence}, #{vendorMessage}, #{receiverEmail})
	</insert>
   
   	<!-- 내 Order 전체 조회 -->
	<select id="selectall" parameterType="order" resultMap="orderMap">
		SELECT * FROM `order` WHERE member_sequence = ${memberSequence} 
		ORDER BY created_at DESC;
	</select>
</mapper>
