<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<resultMap id="productResultMap" type="app.dto.entity.Product">
		<id property="sequence" column="sequence" />
		<result property="productImgurl" column="product_imgurl" />
		<result property="productDetailImgurl" column="product_detail_imgurl" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="content" column="content" />
		<result property="stock" column="stock" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="pointAccumulationRate" column="point_accumulation_rate" />
		<result property="discountRate" column="discount_rate" />
		<result property="salesCount" column="sales_count" />
			<!-- TODO: ENUM 타입 핸들러 만들고 처리 -->
			<!-- <result property="state" column="state" typeHandler="app.mybatis.handler.ProductStateEnumTypeHandler"/> -->
		<result property="authorSequence" column="author_sequence" />
		<result property="publisherSequence" column="publisher_sequence" />
		<result property="categorySequence" column="category_sequence" />
	</resultMap>
	
	<resultMap id="productRelatedNameResultMap" type="app.dto.mapper.ProductRelatedNameMapper">
		<result property="authorName" column="author_name" />
		<result property="publisherName" column="publisher_name" />
		<result property="mainCategorySequence" column="main_category_sequence" />
		<result property="mainCategoryName" column="main_category_name" />
		<result property="subCategorySequence" column="sub_category_sequence" />
		<result property="subCategoryName" column="sub_category_name" />
	</resultMap>

	<resultMap type="product" id="productMap">
		<result property="sequence" column="sequence"/>
		<result property="productImgurl" column="product_imgurl"/>
		<result property="name" column="name"/>
		<result property="price" column="price"/>
		<result property="content" column="content"/>
		<result property="stock" column="stock"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="pointAccumulationRate" column="point_accumulation_rate"/>
		<result property="discountRate" column="discount_rate"/>
		<result property="salesCount" column="sales_count"/>
		<result property="state" column="state"/>
		
		<result property="authorSequence" column="author_sequence"/>
		<result property="publisherSequence" column="publisher_sequence"/>
		<result property="categorySequence" column="category_sequence"/>
	</resultMap>

	<select id="selectProduct" resultMap="productResultMap" parameterType="app.dto.entity.Product">
        SELECT sequence, product_imgurl, product_detail_imgurl, name, price, content, stock, created_at, updated_at, point_accumulation_rate, discount_rate, sales_count,  author_sequence, publisher_sequence, category_sequence
        FROM product
        WHERE sequence = #{sequence}
        <!-- TODO: state복구 state 임시 제거 된 상태 -->
    </select>
    
    
	<select id="selectRelatedNameAndCategory" resultMap="productRelatedNameResultMap" parameterType="app.dto.entity.Product">
	    SELECT 
	        a.name AS author_name, 
	        pb.name AS publisher_name, 
	        c.sequence AS sub_category_sequence,
	        c.name AS sub_category_name,
	        m.sequence AS main_category_sequence,
	        m.name AS main_category_name
	    FROM 
	        product p
	            INNER JOIN author a ON p.author_sequence = a.sequence
	            INNER JOIN publisher pb ON p.publisher_sequence = pb.sequence
	            INNER JOIN category c ON p.category_sequence = c.sequence
	            INNER JOIN category m ON c.parent_category = m.sequence
	    WHERE
	        p.sequence = #{sequence}
	</select>

    

	<select id="latest" resultMap="productMap">
		SELECT * FROM product ORDER BY created_at DESC LIMIT 6;
	</select>
	
	<select id="point" resultMap="productMap">
		SELECT * FROM product ORDER BY point_accumulation_rate DESC LIMIT 6;
	</select>
	
	<select id="discount" resultMap="productMap">
		SELECT * FROM product ORDER BY discount_rate DESC LIMIT 6;
	</select>
	
	<select id="bestseller" resultMap="productMap">
		SELECT DISTINCT * FROM product ORDER BY sales_count DESC LIMIT 6;
	</select>

	<update id="updateByProductKeyWithSalesCount" parameterType="app.dto.entity.OrderDetail">
		UPDATE `product` SET sales_count = sales_count + #{count}, stock = stock - #{count} WHERE sequence = ${productSequence};
	</update>
	
	<update id="updateByProductKeyWithOrderDetail" parameterType="app.dto.entity.OrderDetail">
		UPDATE `product` SET sales_count = sales_count - #{count}, stock = stock + #{count} WHERE sequence = ${productSequence};
	</update>
</mapper>