<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<resultMap id="reviewResultMap" type="app.dto.mapper.ReviewWithNameMapper">
		<id property="sequence" column="sequence" />
		<result property="rating" column="rating" />
		<result property="comment" column="comment" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="isDeleted" column="is_deleted" />
		<result property="memberSequence" column="member_sequence" />
		<result property="productSequence" column="product_sequence" />
		
		<result property="name" column="member_name" />
	</resultMap>

	<resultMap id="reviewDetailsResultMap" type="reviewDetails">
		<id property="sequence" column="sequence" />
		<result property="rating" column="rating" />
		<result property="comment" column="comment" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="isDeleted" column="is_deleted" />
		<result property="memberSequence" column="member_sequence" />
		<result property="productSequence" column="product_sequence" />
	</resultMap>

	<resultMap id="reviewMap" type="review">
		<id property="sequence" column="sequence" />
		<result property="rating" column="rating" />
		<result property="comment" column="comment" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="isDeleted" column="is_deleted" />
		<result property="memberSequence" column="member_sequence" />
		<result property="productSequence" column="product_sequence" />
	</resultMap>
	
	<select id="selectReviewsByProduct" resultMap="reviewResultMap" parameterType="product">
		SELECT 
		    r.sequence, r.rating, r.comment, r.created_at, r.updated_at, 
    		r.is_deleted, r.member_sequence, r.product_sequence,
    		m.name as member_name
		FROM review as r
			INNER JOIN member as m ON m.sequence = r.member_sequence
		WHERE product_sequence = #{sequence} AND is_deleted = 0;
	</select>

	<select id="selectReviewsByMember" resultMap="reviewDetailsResultMap" parameterType="member">
		SELECT sequence, rating, comment, created_at, updated_at, is_deleted, member_sequence, product_sequence
		FROM review
		WHERE member_sequence = #{sequence} AND is_deleted = 0
	</select>

	<insert id="insert" parameterType="review">
		INSERT INTO review (rating, comment, created_at, updated_at, member_sequence, product_sequence, orderdetail_sequence) VALUES (#{rating}, #{comment}, now(), now(), #{memberSequence}, #{productSequence}, #{orderdetailSequence})
	</insert>
	
	<update id="update" parameterType="review">
      	UPDATE review SET rating=#{rating}, comment=#{comment}, updated_at=now() WHERE sequence=#{sequence}
	</update>
	
	<update id="updateReviewState" parameterType="review">
      	UPDATE review SET is_deleted=1 WHERE sequence=#{sequence}
	</update>
	
	<select id="selectReviewByOrderdetail" parameterType="review" resultMap="reviewMap">
		SELECT *
		FROM review
		WHERE orderdetail_sequence = #{orderdetailSequence}
	</select>
	
	
</mapper>